@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --primary-color: hsl(235, 18%, 26%);
    --secondary-color: hsl(4, 100%, 67%);
    --font-size-base: 16px;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: hsl(235, 18%, 26%);
}

main {
    width: 100%;
    padding: 0;
}

.hero-image {
    background: url(/assets/images/illustration-sign-up-mobile.svg) no-repeat center;
    background-size: cover;
    height: 18em;
    border-radius: 0 0 1em 1em;
    padding: 0;
    margin: 0;
}

.main-content {
    background-color: white;
    padding: 1em 1.5em;
    z-index: -1;
}

#main-content {
    display: unset;
}

h1 {
    font-size: 2.2em;
    line-height: 1em;
}

ul {
    padding: 0 0em;
    list-style-type: none;
}

li {
    padding: none;
    margin: 1em 0;
    display: flex;
    align-items: start;
    gap: 1em;
}


label {
    display: block;
    font-size: .75em;
    font-weight: 600;
}

input {
    padding: 1.25em;
    display: block;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    width: 100%;
}

input[type="text"]:focus {
    border: 1px solid black;
}

form input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 1.5em 0;
    transition: 0.2s ease-in-out all;
}

form input[type="submit"]:hover {
    background: rgb(255, 62, 131);
    background: linear-gradient(90deg, rgba(255, 62, 131, 1) 0%, rgba(247, 114, 79, 1) 79%);
    box-shadow: 0px 15px 30px rgba(255, 97, 62, 0.3);
}

.section-success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
    padding: 8em 2em;
    height: 75vh;
    background-color: white;
}

.section-success img {
    height: 70px;
}

.section-success button {
    width: 100%;
    padding: 1em;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.section-success button:hover {
    background: rgb(255, 62, 131);
    background: linear-gradient(90deg, rgba(255, 62, 131, 1) 0%, rgba(247, 114, 79, 1) 79%);
    box-shadow: 0px 15px 30px rgba(255, 97, 62, 0.3);
}

.attribution {
    margin: 0 0 2em 0;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .section-success {
        padding: 3.4em;
        display: none;
        width: 24em;
        height: auto;
        border-radius: 35px;
    }

    h1 {
        font-size: 3em;
    }

    button {
        margin: 1.6em 0 0 0;
    }

    form input[type="submit"] {
        margin: 2em;
    }
}