@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
}

main,
footer {
    margin: 0 auto;
    width: 360px;
    text-align: center;
}

main {
    max-width: 350px;
    padding: 4em 1.4em 2em 1.4em;
}

.form-area div:nth-child(1) {
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 10px;
    padding: 0.6em 0;
    margin: 4em 0 1.6em;
}

.form-area div:nth-child(1) p {
    max-width: 12em;
    margin: 0 auto;
    padding: 0.8em;
}

.form-area div:last-of-type {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

form {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 0em;
}

input {
    padding: 0em 0;
}

input[type="text"],
input[type="password"] {
    padding: 1em;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 2px solid hsla(249, 47%, 34%, 0.65);
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 3px solid hsl(0, 100%, 74%);
}

button {
    width: 100%;
    padding: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(154, 59%, 60%);
}

.introduction {
    color: white;
}

.disclaimer {
    font-size: 12px;
    color: hsl(246, 25%, 77%);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.disclaimer a {
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 100%, 74%)
}

.shadow {
    box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

.btn-shadow {
    box-shadow: 0px 4px hsl(154, 59%, 45%);
}

.attribution {
    font-size: 14px;
    margin-bottom: 2em;
    color: rgba(20, 20, 20, 0.9)
}

.attribution a {
    text-decoration: none;
}

@media (min-width: 600px) {

    main {
        max-width: 850px;
        width: 800px;
        padding: 4em 1.4em 2em 1.4em;
        display: flex;

    }


    .form-area div:nth-child(2) {
        color: white;
        border-radius: 10px;
        padding: 1.4em 1.4em;
    }

    .disclaimer {
        width: 90%;
        font-size: 0.7em;
    }

}